html,
body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: aquamarine;
}

div *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#turn{
    max-width: 450px;
    max-height: 30px;
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    border-right: 5px;
    border: 1px solid black;
    border-style: inset;
    text-align: center;
    background: rgb(90, 62, 10);
    transition: 0.85s;
}

.turnheightlight{
    background: red;
    color: white;
}

#game{
    max-height: 504px;
    max-width: 504px;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 20px auto;
}

.cellprefix{
    width: 100%;
    height: 100%;
    max-height: 50px;
    max-width: 50px;
    float: left;
    margin: 3px;
    padding: 15px 0 0 20px;
}
.gamecell{
    border: 1px solid blueviolet;
    width: 100%;
    height:100%;
    z-index: 1;
    max-width: 50px;
    background-color: dimgray;
    max-height: 50px;
    font-size: 30px;
    float:left;
    transition: all 0.5s ease-in-out;
    padding: 0 0 0 6px;
    margin: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.gamecell:hover{
    color: aqua;
    background: yellow;
    z-index: 2;
    transform: translate(10px, -10px);
    animation:  neonBluetext 0.5s ease-in-out infinite alternate;
}

.blue{
    background: goldenrod;
}

.black{
    background: goldenrod !important;
}